<h3>Listado de heroes</h3>


<!--
<div *ngIf="deletedHero">
  <h3>Heroe Borrado <small class="text-danger">{{ deletedHero}}</small></h3>

</div>

<h3 *ngIf="!deletedHero">No ha borrado nada</h3>
 -->








 <div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe Borrado <small class="text-danger">{{ deletedHero}}</small></h3>

</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>







<button
*ngIf="heroesNames.length > 0"
(click)="removeLastHeroe()" class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul  class="mt-2 list-group">
<li
*ngFor="let name of heroesNames"
class="list-group-item"> {{name}}</li>



</ul>
